<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getContentEditorWarnings>
        <processor type="Sitecore.Pipelines.GetContentEditorWarnings.ShowTestInformation, Sitecore.SharedSource.DmsGutters"/>
      </getContentEditorWarnings>
    </pipelines>
  </sitecore>
</configuration>